
<div class="container">
      @*<div class="footer-top">
        <div class="row">
          <div class="col-md-4 col-lg-2">
            <div class="nav-footer">
              <h3>GIỚI THIỆU</h3>
              <ul>
                <li><a href="#">Giới thiệu chung</a></li>
                <li><a href="#">Chức năng, nhiệm vụ</a></li>
                <li><a href="#">Tổ chức, bộ máy</a></li>
                <li><a href="#">Lãnh đạo ban</a></li>
              </ul>
            </div> /.nav-footer 
          </div>

          <div class="col-md-4 col-lg-2">
            <div class="nav-footer">
              <h3>THỜI SỰ ĐỐI NGOẠI</h3>
              <ul>
                <li><a href="#">Lãnh đạo Đảng</a></li>
                <li><a href="#">Cơ quan Đảng Trung ương</a></li>
                <li><a href="#">Tỉnh, Thành ủy</a></li>
                <li><a href="#">Đoàn thể, tổ chức nhân dân</a></li>
              </ul>
            </div> /.nav-footer 
          </div>

          <div class="col-md-4 col-lg-2">
            <div class="nav-footer">
              <h3>BẠN BÈ THẾ GIỚI</h3>
              <ul>
                <li><a href="#">Bài viết, phát biểu</a></li>
                <li><a href="#">Thư, điện chúc mừng thăm hỏi</a></li>
              </ul>
            </div> /.nav-footer 
          </div>

          <div class="col-md-4 col-lg-2">
            <div class="nav-footer">
              <h3>THÔNG TIN - TRAO ĐỔI</h3>
              <ul>
                <li><a href="#">Lợi ích quốc gia-dân tộc</a></li>
                <li><a href="#">Lý luận, định hướng</a></li>
                <li><a href="#">Các báo cáo, nghiên cứu</a></li>
              </ul>
            </div> /.nav-footer 
          </div>

          <div class="col-md-4 col-lg-2">
            <div class="nav-footer">
              <h3>BAN ĐỐI NGOẠI TW</h3>
              <ul>
                <li><a href="#">Các cuộc làm việc, hội nghị </a></li>
                <li><a href="#">Các hoạt động chung của Ban</a></li>
              </ul>
            </div> /.nav-footer 
          </div>
        </div>
      </div> /.footer-top 

      <div class="footer-bottom">
        <div class="d-md-flex justify-content-between">
          <div class="address-footer">
            <h3>trang thông tin điện tử tổng hợp ban đối ngoại trung ương</h3>
            <p>
              Địa chỉ: Số 1 Hoàng Văn Thụ, Ba Đình, Hà Nội<br/>
              Tổng biên tập: TS.Nguyễn Hồng Thạch<br/>
              Email: support@bdntw.dcs.vn<br/>
              Điện thoại: 080.42667
            </p>
          </div>

          <div class="footer-bottom-right">
            <div class="link-site">
              <select class="form-control">
                <option>Liên kết website</option>
              </select>
            </div>
            <ul class="static-footer">
              <li><i class="fa fa-user"></i> Đang trực tuyến: <strong>10</strong></li>
              <li><i class="fa fa-user-friends"></i> Lượt truy cập trong tháng: <strong>56</strong></li>
              <li><i class="fa fa-users"></i> Tổng lượt truy cập: <strong>15986</strong></li>
            </ul>
          </div>
        </div>
      </div>*@<!-- /.footer-bottom -->
    </div>
