@using KhaoSat.Utils
<div class="row" style="height: 100%;overflow-y: auto;">
    <div class="col-md-12">
        <form role="form" id="quickForm">
            <div id="frmCreateConfig">
                <div class="form-group">
                    <input type="hidden" id="isUpdate" value="-1"/>
                    <div class="row">
                        <label required class="col-sm-2">Câu hỏi khảo sát</label>
                        <div class="col-sm-8">
                            <input required type="text" class="form-control" id="txtDescriptionQuestion">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label required class="col-sm-2">Kiểu khảo sát</label>
                        <div class="col-sm-4">
                            <select id="cbType" class="form-control">
                                @{
                                    var values = Enum.GetValues(typeof(TypeQuestionEnum));
                                    Array.Reverse(values);
                                    @foreach (var type in values)
                                    {
                                        <option value="@((int)type)">@Extensions.GetEnumDescription((TypeQuestionEnum)type)</option>

                                    }
                                }
                            </select>
                        </div>
                        
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label required class="col-sm-2">Câu trả lời </label>
                        <div class="col-sm-8 ">
                            <div id="boxAnswer">
                                <div class="row form-group" id="row_1">
                                    <input class="form-control col-sm-10" 8 type="text" placeholder="Lựa chọn 1">
                                    <a style="margin:auto" href="javascript:;" onclick="deleteAnswer(1)" class="text-right"><i class="fas fa-times"></i></a>
                                </div>
                            </div>
                            <a style="margin:auto" href="javascript:;" onclick="addAnswer(1)"><i class="fas fa-plus-circle fa-2x"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
<script>
    var frmCreateConfig = $("#frmCreateConfig")
    var urlDomain = "/khao-sat";
    var stt = 2;
    $(document).ready(function () {
        addRequired(frmCreateConfig);


    });

    $('#modal-form').find('#btnSave').off("click").on('click', function (e) {
        e.preventDefault();
        createQuestion();
    })
    function addAnswer() {
        var text = '<div class="row form-group" id="row_' + stt + '">';
        text += '<input class="form-control col-sm-10" type="text" placeholder="Lựa chọn"><a onclick="deleteAnswer(' + stt + ')" style="margin:auto" href="javascript:;" class="text-right"><i class="fas fa-times"></i></a> </div>';
        $("#boxAnswer").append(text);
        stt++;
    }
    function createQuestion() {
        var listAnswer = [];
        if (ValidateForm(frmCreateConfig)) {
            return;
        }
        $("#boxAnswer").find("input[type=text]").each(function () {
            var answer = {

                text: $(this).val()
            }
            listAnswer.push(answer);
        });
        var position = $("#isUpdate").val();
        console.log(position);
        if (position == -1) { 
            
            var data = {
                id : 0,
                description: $("#txtDescriptionQuestion").val(),
                type: $("#cbType").val(),
                //other: $("#ckOther").prop("checked"),
                answers: listAnswer
            }
            listQuestion.push(data);
        }
        else {
            listQuestion[position].description = $("#txtDescriptionQuestion").val();
            listQuestion[position].type = $("#cbType").val();
            //listQuestion[position].other = $("#ckOther").prop("checked");
            listQuestion[position].answers = listAnswer;
        }
        setDataSurvey();
        hideContentModal();
    }
    function deleteAnswer(i) {
        $("#row_" + i).remove();
        stt--;
    }

</script>